body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

.main {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
/* .logo,
.product,
.contact {
  margin: 5px;
  padding: 5px;
} */
.logo {
  background-color: black;
  padding: 10px;
  border-bottom: #d5ad6d solid 7px;
  display: flex;
  /* justify-items: center; */
  align-items: center;
  justify-content: center;
}

.logo_text {
  height: 200px;
  width: 400px;
}

.product {
  background-color: black;
  border-bottom: #d5ad6d solid 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .sativa {
  background-color: springgreen;
}
.hybrid {
  background-color: cadetblue;
}
.indica {
  background-color: blueviolet;
} */

.ind,
.hyb,
.sat {
  padding-top: 10px;
  padding-bottom: 10px;
}

.info {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.contact {
  margin: 10px;
}

.call {
  font-size: 20px;
}
.cellnum,
.emailadd {
  font-size: 15px;
  color: #d5ad6d;
}

.call {
  color: #d5ad6d;
}

.qrcode {
  background-color: white;
  width: 100px;
  height: 100px;
  border: black 10px solid;
  display: flex;
  justify-content: center;
}

a {
  color: goldenrod;
}
